version: '3.1'
services:
  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: localstack-kw
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs,sns
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

  keyworker-api-db:
    image: postgres
    networks:
      - hmpps
    container_name: keyworker-api-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=admin_password
      - POSTGRES_USER=admin
      - POSTGRES_DB=keyworker-api-db

networks:
  hmpps:
