spring:
  jpa:
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none

  datasource:
    url: ${app.db.url}
    username: sa
    password:
    continueOnError: true
    initialize: false

    hikari:
      pool-name: Keyworker-CP
      connectionTimeout: 1000
      validationTimeout:  500

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS : false

server:
  port: 8080
  context-path: /

logging:
  level:
    org.springframework: INFO
    org.springframework.security: INFO
    uk.gov.justice.digital: DEBUG

roleMigration:
  sourceRoles:
    - KW_ADMIN
    - KEY_ROLE
  targetRoles:
    - KW_ADMIN
