spring:
  jpa:
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none

  datasource:
    url: jdbc:hsqldb:mem:spon-request-db;sql.syntax_pgs=true;shutdown=false
    username: sa
    password:

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS : false

server:
  port: 8088
  context-path: /api

security:
  oauth2:
    client:
      client-id: elite2apiclient
      client-secret: clientsecret
      access-token-uri: http://localhost:8080/oauth/token
      user-authorization-uri: http://localhost:8080/oauth/authorize
    resource:
      user-info-uri: http://localhost:8080/api/users/me

logging:
  level:
    org.springframework.security: INFO
    uk.gov.justice.digital: DEBUG

elite2-api:
  endpoint:
    url: http://localhost:8080/api