<h1 class="title">Manage Key Worker</h1>

<h2>Keyworker</h2>
<table class="summary-list">
  <tr><td>Allocated at</td><td>31 March 2026, 12:30:50 pm</td></tr>
  <tr><td>Staff member last name</td><td>Officer</td></tr>
  <tr><td>Prison name</td><td>Moorland (HMP &amp; YOI)</td></tr>
  <tr><td>Policy description</td><td>Personal officer</td></tr>
  <tr><td>Allocation reason</td><td>Automatic</td></tr>
  <tr><td>Allocation is active</td><td>Yes</td></tr>
  <tr><td>Allocation expired at</td><td>No Data Held</td></tr>
  <tr><td>Deallocation reason</td><td>No Data Held</td></tr>
</table>

<h2>Keyworker</h2>
<table class="summary-list">
  <tr><td>Allocated at</td><td>31 March 2026, 10:15:45 am</td></tr>
  <tr><td>Staff member last name</td><td>Worker</td></tr>
  <tr><td>Prison name</td><td>Moorland (HMP &amp; YOI)</td></tr>
  <tr><td>Policy description</td><td>Key worker</td></tr>
  <tr><td>Allocation reason</td><td>Automatic</td></tr>
  <tr><td>Allocation is active</td><td>Yes</td></tr>
  <tr><td>Allocation expired at</td><td>No Data Held</td></tr>
  <tr><td>Deallocation reason</td><td>No Data Held</td></tr>
</table>

<h2>Keyworker</h2>
<table class="summary-list">
  <tr><td>Allocated at</td><td>20 February 2026, 9:45:40 am</td></tr>
  <tr><td>Staff member last name</td><td>Worker</td></tr>
  <tr><td>Prison name</td><td>Moorland (HMP &amp; YOI)</td></tr>
  <tr><td>Policy description</td><td>Key worker</td></tr>
  <tr><td>Allocation reason</td><td>Automatic</td></tr>
  <tr><td>Allocation is active</td><td>No</td></tr>
  <tr><td>Allocation expired at</td><td>31 March 2026, 12:30:50 pm</td></tr>
  <tr><td>Deallocation reason</td><td>Override</td></tr>
</table>
