<h1 class="title">Manage Key Worker</h1>
{{#.}}
    <h2>Keyworker</h2>
    <table class="summary-list">
        <tr><td>Allocated at</td><td>{{ optionalValue (formatDate allocatedAt) }}</td></tr>
        <tr><td>Staff member last name</td><td>{{ optionalValue staffMember.lastName }}</td></tr>
        <tr><td>Prison name</td><td>{{ getPrisonName prisonCode }}</td></tr>
        <tr><td>Policy description</td><td>{{ optionalValue policy.description }}</td></tr>
        <tr><td>Allocation reason</td><td>{{ optionalValue allocationReason }}</td></tr>
        <tr><td>Allocation is active</td><td>{{ convertBoolean activeAllocation }}</td></tr>
        <tr><td>Allocation expired at</td><td>{{ optionalValue (formatDate allocationExpiredAt) }}</td></tr>
        <tr><td>Deallocation reason</td><td>{{ optionalValue deallocationReason }}</td></tr>
    </table>
{{/.}}