generic-service:

  env:
    SENTRY_ENVIRONMENT: preprod
    PRISON_API_URI_ROOT: "https://prison-api-preprod.prison.service.justice.gov.uk"
    MANAGE_USERS_API_URI_ROOT: "https://manage-users-api-preprod.hmpps.service.justice.gov.uk"
    CASE_NOTES_API_URI_ROOT: "https://preprod.offender-case-notes.service.justice.gov.uk"
    PRISONER_SEARCH_API_URI_ROOT: "https://prisoner-search-preprod.prison.service.justice.gov.uk"
    PRISON_REGISTER_API_URI_ROOT: "https://prison-register-preprod.hmpps.service.justice.gov.uk"
    AUTH_URI_ROOT: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    COMPLEXITY_OF_NEED_URI: "https://complexity-of-need-preprod.hmpps.service.justice.gov.uk"
    NOMIS_USER_ROLES_API_URI_ROOT: "https://nomis-user-roles-api-preprod.prison.service.justice.gov.uk"

  ingress:
    host: keyworker-api-preprod.prison.service.justice.gov.uk

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  alertSeverity: maintenance-alerts-non-prod-warning
  rdsAlertsDatabases:
    cloud-platform-09feaed978653e19: 'Keyworker API'
  rdsAlertsConnectionThreshold: 100
  sqsOldestAlertQueueNames:
    - "hmpps-keyworker-preprod-domain_events_queue"
  sqsAlertsOldestThreshold: 10
  sqsNumberAlertQueueNames:
    - "hmpps-keyworker-preprod-keyworker_domain_events_dlq"
  sqsAlertsTotalMessagesThreshold: 1
  businessHoursOnly: true
  applicationCronJobStatusFailedWindowMinutes: 15

schedule:
  prison_stats: "0 7 * * *"